*{
	margin:0px;padding:0px
}
body{
	background-color: #0f093a
}
.music_style_margin {
	width: 45px;
	margin-left: calc(( 100% - 45px)/2);
}

.music_style_img {
	height: 25px;
	width: 25px;
	color: #660e4b;
}

#nav .navbar-default {
	background-color:#2a2151;
}

#music_style {
	background-color: #1d1445;
}

#music_style .row {
	padding-top: 7.5px;
}

.navbar-default span {
	color: #d4ccd6;
}

span, #nav .navbar-default .navbar-brand {
	color: #67558e;
}

.navbar-default .navbar-toggle {
	border-color: #67558e;
}

.navbar {
	border: 0;
}
.div_main{
	position: fixed;
	width: 100%;
	z-index:500;
}
#slide-image{
	top:57px;
}
#music_style{
	top:259.5px;
}
#music_list_table .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	border-top: 1px solid #3a3162;
}
#music_list_table td{
	color:#d4ccd6;
	word-break: keep-all;
	white-space:nowrap;
}
#music_list_table{
	width:100%;
	background-color: #2a2151;
	table-layout:fixed;
	margin-top: 252px;
	margin-bottom:51px;
}
#player{
	width:100%;
	height:50px;
	position:fixed;
	background-color:#fe0041;
	bottom:0;
	z-index: 1500;
}
.helper_icon{
	width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-top: 2px;
}
#helper div{
	padding: 0;
    height: 25px;
    background: #3d3662;
    border-radius: 20px 20px;
    width: 25px;
    margin-left: 3px;
}
#player_icon{
	width: 40px;
    height: 40px;
    margin: auto;
    line-height: 50px;
    margin-left: 10px;
}
#player_icon img{
	width: 40px;
    height: 40px
}
#player_info,.list_music_name{
	overflow: hidden;
	text-overflow: unset;
	white-space: nowrap;
}
.songname{
	color:#f9f7f9;
	font-weight:400;
	font-size: 16px;
}
.singername{
	font-size:10px;
	color:#615d71;
}
.player_func_icon{
	line-height:50px;
	margin-left: 10px;
}
.player_func_icon img{
	width: 25px;
    height: 25px;
}
#player_normal{
	background-color:#fe0041;
}
#player_super,#lyr_bg{
	height: 100%;
	width: 100%;
}
#lyr_bg{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
#lyr_bg{
	filter:alpha(Opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	width: 100%;
}
#lyr_core{
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	background: linear-gradient(15deg,rgba(57,49,89,0.7) 60%,rgba(219,213,182,0.4) 0%);
}
.lyr_title{
	margin: auto;
	margin-top:50%
}
.lyr_title span{
	color: #fbfaf8;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 300;
}
.lyr_player{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.progress_bar{
	width: 90%;
    overflow: hidden;
    position: absolute;
    top: -20px;
    left: 20px;
}
.bar_bg,.player_board{
	width: 110%;
    height: 100px;
    border: 1px solid #fbfaf8;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    border-bottom: none;
    margin: auto;
    margin-left: -17px;
}
.player_board{
	background-color:#fe0041;
}
.bar_bg{
	width: 120%;
	margin-left: -33.5px
}
#time_point{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    left:1px;
    background-color:#fbfaf8;
}