* {
	margin: 0px;
	padding: 0px
}

body {
	background-color: #0f093a
}

.table {
	table-layout: fixed;
}

.music_style_margin {
	width: 45px;
	margin-left: calc(( 100% - 45px)/2);
}

.music_style_img {
	height: 25px;
	width: 25px;
	color: #660e4b;
}

#nav .navbar-default {
	background-color: #2a2151;
}

#music_style {
	background-color: #1d1445;
}

#music_style .row {
	padding-top: 7.5px;
}

.navbar-default span {
	color: #d4ccd6;
}

span, #nav .navbar-default .navbar-brand {
	color: #67558e;
}

.navbar-default .navbar-toggle {
	border-color: #67558e;
}

.navbar {
	border: 0;
}

.div_main {
	position: fixed;
	width: 100%;
	z-index: 500;
}

#slide-image {
	top: 57px;
}

#music_style {
	top: 349.5px;
}

#music_list_table .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td,
	.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 1px solid #3a3162;
}

.table td {
	color: #d4ccd6;
	word-break: keep-all;
	white-space: nowrap;
}

#music_list_table {
	width: 100%;
	background-color: #2a2151;
	margin-top: 342px;
	margin-bottom: 51px;
}

#player {
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: #fe0041;
	bottom: 0;
	z-index: 1500;
}

.helper_icon {
	width: 15px;
	height: 15px;
	margin-left: 5px;
	margin-top: 2px;
}

#helper div, .lyr_helper div {
	border-radius: 20px 20px;
}

#helper div {
	width: 25px;
	height: 25px;
	background: #3d3662;
	margin-left: 3px;
	padding: 0;
}

#player_icon {
	width: 40px;
	height: 40px;
	margin: auto;
	line-height: 50px;
	margin-left: 10px;
}

#player_icon img {
	width: 40px;
	height: 40px
}

#player_info, .list_music_name {
	overflow: hidden;
	text-overflow: unset;
	white-space: nowrap;
}

.songname {
	color: #f9f7f9;
	font-weight: 400;
	font-size: 16px;
}

.singername {
	font-size: 10px;
	color: #615d71;
}

.player_func_icon {
	line-height: 50px;
	margin-left: 10px;
}

.player_func_icon img {
	width: 25px;
	height: 25px;
}

#player_normal {
	background-color: #fe0041;
}

#player_super, #lyr_bg {
	height: 100%;
	width: 100%;
	text-align: center;
}

#lyr_bg {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

#lyr_bg {
	filter: alpha(Opacity = 70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	width: 100%;
}

#lyr_core {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: linear-gradient(15deg, rgba(57, 49, 89, 0.9) 60%,
		rgba(219, 213, 182, 0.5) 0%);
	/* background: url("/images/app/bg.png"); */
	background-size: cover;
	opacity: 0.9;
}

.lyr_title {
	height: 45%;
}

.lyr_title h1 {
	color: #fbfaf8;
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: 300;
	position: relative;
	top: calc(55% - 30px);
}

.lyr_player {
	position: absolute;
	top: 88%;
	width: 100%;
}

.progress_bar {
	width: 92%;
	height: 92vw;
	overflow: hidden;
	position: absolute;
	top: -3%;
	left: 4%;
}

#bar_bg, .player_board {
	width: 200%;
	height: 200vw;
	border: 1px solid #fbfaf8;
	border-radius: 50%;
	margin: auto;
	margin-left: -50%;
}

.player_board {
	background-color: #fe0041;
}

#bar_bg {
	width: 200%;
	height: 180vw;
	margin-top: 5px;
}

#time_point {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	position: absolute;
	background-color: #fbfaf8;
}

.lyr_helper {
	position: absolute;
	bottom: 60%;
	width: 100%;
}

.lyr_helper div {
	position: absolute;
	width: 40px;
	height: 40px;
}

.lyr_icon {
	width: 25px;
	height: 25px;
	margin-top: 7px;
}

.icon_collect {
	background: #fe0041;
	top: -20px;
	left: calc(100% - 170px);
}

.icon_more {
	background: #00c7a5;
	top: -5px;
	left: calc(100% - 120px);
}

.icon_share {
	background: #842efe;
	top: 10px;
	left: calc(100% - 70px);
}

#lyr_table {
	position: absolute;
	top: 40px;
	width: 90%;
	height: 50px;
}

#lyr_table td img {
	margin-left: 36.5px;
}

.top h3, .top h5 {
	color: #fbfaf8;
}

.time {
	position: absolute;
}

.time span {
	color: #fbfaf8;
}

#currentTime {
	left: 0;
}

#songTime {
	right: 0;
}

.center p {
	color: #fbfaf8;
}

.item {
	width: 100%;
	height: 300px;
}

#helper {
	display: none;
	position: absolute;
	width: 90px;
	margin-left: -25px;
}
/********弹窗**************/
.play-list-table {
	margin-bottom:37px;
}
.play-list-table img {
	width: 20px;
	height: 20px;
}

.play-activ td {
	color: #fe0041;
}

.modal.fade .modal-dialog {
	transform: translate3d(0, 100vh, 0);
}

.modal.in .modal-dialog {
	transform: translate3d(0, 0, 0);
}

#list-dialog {
	background-color: rgba(5, 4, 9, 0.7);
	min-height:74px;
}

.modal-dialog {
	margin: 0;
}

#myModal {
	max-height: 45%;
}

#table-close {
	position: fixed;
	text-align: center;
	height: 37px;
	z-index: 999;
	bottom: 0;
	width: 100%;
	line-height: 37px;
	background-color: rgba(5, 4, 9,0.5);
}