<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/muisc/musicStyleTab.css">
<script type="text/javascript" src="/js/music/app/musicStyleTab.js"></script>
<script th:inline="javascript">
	var songData = [[${songData}]];
</script>
</head>	
<body>
	<div class="table">
		<div class="songs muisc-style" th:each="song,songStat:${songData}">
			<div class="music-style-main" th:attr="radioid=${song.radioId}" onclick="toRadioList(this)">
				<img th:src="${song.radioImg}">
				<p th:text="${song.radioName}"></p>
			</div>
		</div>
	</div>
</body>
</html>