<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="/core/jquery-3.2.1.min.js"></script>
<head>
<title>主页</title>
<script type="text/javascript">
function isPC() {
    var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone"];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
        }
    }
    return flag;
}
 
var flag = isPC(); //true为PC端，false为手机端
$(function(){
	if(flag){
		$("#app").load("../music/index_pc");
	}else{
		$("#app").load("../music/index_phone");
	}
})
</script>
</head>
<body>
	<div id="app" style="height: 100%;"></div>
</body>
</html>