<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/layer/theme/default/layer.css">
<link rel="stylesheet" type="text/css" href="/css/muisc/index_phone.css">
<script type="text/javascript" src="/core/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript" src="/core/toucher.js"></script>
<script type="text/javascript" src="/js/music/interface.js"></script>
<script type="text/javascript" src="/js/music/app/index_phone.js"></script>
<title>You - 音乐</title>
</head>
<body>
	<div id="nav" style="height:57px">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false" style="float:left">
						<span class="sr-only"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">推荐</a> 
					<a class="navbar-brand" href="#">排行榜</a> 
					<a class="navbar-brand" href="#">我的</a>
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
						aria-expanded="false">
						<span class="sr-only"></span> 
						<span class="glyphicon glyphicon-search"></span>
					</button>	
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav">
						<li>
							<div class="input-group">
								<span class="input-group-btn">
								<button  class="btn btn-default" type="button" style="color:#67558e" onclick="search()">搜索</button>	
								</span> 
								<input type="text" id="search" class="form-control" placeholder="Search for...">
							</div>
						</li>
					</ul>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">

						<li class="active">
							<a href="#">Link <span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="#">Link</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div id="slide-image" class="div_main">
		<div id="carousel" class="carousel slide both" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" th:each="hot,hotStat:${hotList}"
				th:attr="data-slide-to=${hotStat.index},class=${hotStat.index}==0?active"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div th:each="hot,hotStat:${hotList}" 
				th:attr="class=${hotStat.index}==0?'item active':'item'">
					<!-- <a th:href="@{'../music/hotList?disstid='+${hot.content_id}}+'&index='+${hotStat.index}">
					</a> -->
					<img th:src="${hot.cover}" 
						 th:attr="disstid=${hot.content_id},index=${hotStat.index}"
						 onclick="toHotList(this)" style="width: 100%;height: 100%">
					<div class="carousel-caption" th:text="${hot.title}"></div>
				</div>
			</div>
			<!-- Controls -->
			<a id="carleft" class="left carousel-control"
				href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a> 
			<a id="carright" class="right carousel-control"
				href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!-- 曲风 -->
	<div id="music_style" class="div_main">
		<div class="row">
		  <div class="col-xs-3 col-md-3">
		  	<div class="music_style_margin">
		  		<div style="margin-left: 2.5px">
		  			<img src="/images/app/popular.svg" class="music_style_img">
		  		</div>
		  		<div>
		  			<span>流行</span>
		  		</div>
		  	</div>
		  </div>
		  <div class="col-xs-3 col-md-3">
		  	<div class="music_style_margin" onclick="toClassical()">
		  		<div style="margin-left: 2.5px">
		  			<img src="/images/app/classical.svg" class="music_style_img">
		  		</div>
		  		<div>
		  			<span>古典</span>
		  		</div>
		  	</div>
		  </div>
		  <div class="col-xs-3 col-md-3">
		  	<div class="music_style_margin">
		  		<div style="margin-left: 7.5px">
		  			<img src="/images/app/cd.svg" class="music_style_img">
		  		</div>
		  		<div>
		  			<span>纯音乐</span>
		  		</div>	
		  	</div>
		  </div>
		  <div class="col-xs-3 col-md-3">
		  	<div class="music_style_margin">
		  		<div style="margin-left: 2.5px">
		  			<img src="/images/app/station.svg" class="music_style_img">
		  		</div>	
		  		<div>
		  			<span>电台</span>
		  		</div>
		  	</div>
		  </div>
		</div>
	</div>
	<!-- 歌曲列表 -->
	<div id="music_list_table"></div>
	<div id="player">
		<audio id="audio" playid="" rowid=""></audio>
		<div class="row" id="player_normal" >
			<div class="col-xs-2" onclick="shellPlayer()">
				<div id="player_icon">
					<img id="singer_cover" src="../images/app/note.svg" class="img-circle">
				</div>
			</div>
			<div class="col-xs-5" onclick="shellPlayer()">
				<div id="player_info" style="margin-top:5px;">
	 				<span class="songname" id="player_songname">无歌曲播放</span>
	 			</div>
	 			<div>
	 				<span class="singername" style="color:#fa92a7" id="player_singername">播放列表为空</span>
	 			</div>
			</div>
			<div class="col-xs-4 row player_func_icon">
				<div class="col-xs-4">
					<img id="play" src="/images/app/play.svg" isplay="false">
				</div>
				<div class="col-xs-4">
					<img id="next" src="/images/app/next.svg" >
				</div>
				<div class="col-xs-4">
					<img id="menu" src="/images/app/menu.svg" data-toggle="modal" data-target=".bs-example-modal-sm">
				</div>
			</div>
		</div>
		<div id="player_super" onclick="shellPlayer()" style="display:none"></div>
	</div>
	<!-- 分享、添加、收藏 -->
	<div class="row" id="helper" >
		<div class="col-xs-4 col-md-4">
			<img alt="collect" src="/images/app/favorite2.svg" class="helper_icon">
		</div>
		<div class="col-xs-4 col-md-4">
			<img alt="share" src="/images/app/share2.svg" class="helper_icon">
		</div>
		<div class="col-xs-4 col-md-4" onclick="addPlayList()">
			<img alt="add" src="/images/app/add2.svg" class="helper_icon">
		</div>
	</div>
	<!-- 播放列表 -->
	<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog modal-sm" role="document">
	    <div class="modal-content" id="list-dialog">
	     	<table class="table play-list-table">
	     		<thead>
	     			<tr>
	     				<td width="20px">
	     					<img src="../images/app/order_play_1.svg">
	     				</td>
	     				<td id="table-count"></td>
	     				<td width="100px" onclick="addAll()">
	     					播放当前列表
	     				</td>
	     			</tr>
	     		</thead>
	     		<tbody id="songPlayListTbody"></tbody>
	     	</table>
	    </div>
	  </div>
	  <div id="table-close">
	     	<span style="color:#d4ccd6;" onclick="clickModal()">关闭</span>
	    </div>
	</div>
</body>
</html>