<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/muisc/player.css">
<script type="text/javascript" src="/core/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/core/toucher.js"></script>
<script type="text/javascript" src="/js/music/interface.js"></script>
<script th:inline="javascript">
	var lyr = [[${lyr}]];
</script>

<script type="text/javascript" src="/js/music/app/player.js"></script>
<title>播放器页面</title>
</head>
<body>
	<div id="lyr_bg"></div>
	<div id="lyr_core">
		<div class="lyr_title">
			<div id="sliding_down">
				<img src="/images/app/sliding_down.svg" width="30px" height="30px">
			</div>
			<h1></h1>
		</div>
		<div class="lyr_helper">
			<div class="icon_collect">
				<img alt="collect" src="/images/app/favorite2.svg" class="lyr_icon">
			</div>
			<div class="icon_more">
				<img alt="more" src="/images/app/more-o.svg" class="lyr_icon">
			</div>
			<div class="icon_share">
				<img alt="share" src="/images/app/share2.svg" class="lyr_icon">
			</div>
		</div>
		<div class="lyr_content">
			<div class="top">
				<h3 id="top_song_title"></h3>
				<h5 id="top_song_singer"></h5>
			</div>
			<div class="center">
				<!-- <p th:text="${lyr}">电视一直闪</p> -->
				<p>电视一直闪</p>
			</div>
		</div>
		<div class="lyr_player">
			<div class="progress_bar">
				<div id="bar_bg">
					<div id="currentTime" class="time"><span>0:00</span></div>
					<div id="songTime" class="time"><span>0:00</span></div>
				</div>
				<div id="time_point"></div>
			</div>
			<div class="player_board"></div>
			<table id="lyr_table">
				<tbody>
					<tr>
						<td id="lyr_order" order="1">
							<img src="/images/app/order_play_1.svg" width="25px" height="25px">
						</td>
						<td id="lyr_pause">
							<img src="/images/app/media-previous.svg" width="30px" height="30px">
						</td>
						<td id="lyr_play" th:attr="isplay=${isplay}">
							<img src="/images/app/play.svg" width="50px" height="50px">
						</td>
						<td id="lyr_next">
							<img src="/images/app/media-next2.svg" width="30px" height="30px">
						</td>
						<td id="lyr_menu">
							<img src="/images/app/menu.svg" width="30px" height="30px">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>