<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/muisc/index_phone.css">
<script type="text/javascript" src="/core/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/core/toucher.js"></script>
<script type="text/javascript" src="/js/music/interface.js"></script>
<script th:inline="javascript">
	var songmid = [[${songmid}]];
	var lyr = [[${lyr}]];
	var albumid = [[${albumid}]];
</script>
<script type="text/javascript" src="/js/music/app/player.js"></script>
<title>播放器</title>
</head>
<body>
	
</body>
</html>